# 文件夹
/RetroBat/bios
/RetroBat/roms
/RetroBat/roms_
/RetroBat/emulators
/RetroBat/saves
/RetroBat/emulationstation/.emulationstation/themes
/RetroBat/emulationstation/.emulationstation/videos
/RetroBat/emulationstation/.emulationstation/tmp

# 文件
RetroBat/emulationstation/emulatorLauncher.log
RetroBat/emulationstation/rb_infos.tmp
RetroBat/emulationstation/.emulationstation/es_log.txt
RetroBat/emulationstation/.emulationstation/imagecache.db
RetroBat/emulationstation/.emulationstation/es_log.txt.bak
