# 文件夹
RetroBat/bios/*
!RetroBat/bios/hbmame
!RetroBat/bios/mame
RetroBat/bios/mame/artwork
RetroBat/bios/mame/cfg
RetroBat/bios/mame/console_history

# 游戏本体
RetroBat/roms/*
RetroBat/roms_/*

RetroBat/emulators/*
!RetroBat/emulators/retroarch
RetroBat/emulators/retroarch/cores/*
!RetroBat/emulators/mame
RetroBat/emulators/mame/cheat/*
RetroBat/emulators/retroarch/info/*
RetroBat/emulators/retroarch/playlists
RetroBat/emulators/retroarch/*.lpl
RetroBat/emulators/retroarch/*.cfg


/RetroBat/saves

/RetroBat/emulationstation/.emulationstation/themes
/RetroBat/emulationstation/.emulationstation/videos
/RetroBat/emulationstation/.emulationstation/tmp
/RetroBat/emulationstation/.emulationstation/scrapers

# 文件
RetroBat/emulationstation/emulatorLauncher.log
RetroBat/emulationstation/rb_infos.tmp
RetroBat/emulationstation/.emulationstation/es_log.txt
RetroBat/emulationstation/.emulationstation/imagecache.db
RetroBat/emulationstation/.emulationstation/es_log.txt.bak


# 单个文件大于了100M不能提交github。忽略
RetroBat/emulators/hbmame/hbmameui.exe
RetroBat/emulators/hbmame/hbmame.exe

RetroBat/emulators/mame/mame.exe
RetroBat/emulators/mame/mame.sym